<!-- nodejs情報サイト -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>Node.js</strong>情報サイト</h5>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="<%- gconfig.url.redirect%>/?s=st2dSckc2zgzUm" target="_blank">nodejs.jp日本語</a></li>
            <li><a href="<%- gconfig.url.redirect%>/?s=dbkg2VmneocH6q" target="_blank">nodejs.org英語</a></li>
            <li><a href="<%- gconfig.url.redirect%>/?s=t9qfCnyaH1vlcs" target="_blank">nodejs開発ドキュメント</a></li>
            <li><a href="<%= gconfig.url.redirect%>/?s=Udg7azudwAar4c" target="_blank">npmjs.org</a></li>
            <li><a href="<%= gconfig.url.redirect%>/?s=jzWiz2dfjqwuQ8" target="_blank">mongoDB</a></li>
            <li><a href="<%= gconfig.url.redirect%>/?s=vKs2pvcviaHr3q" target="_blank">mongoose</a></li>
            <li><a href="<%= gconfig.url.redirect%>/?s=jxa1Kgbpd6hmwE" target="_blank">redis</a></li>
            <li><a href="<%= gconfig.url.redirect%>/?s=oxnk4aPj4Nrwtf" target="_blank">javascript</a></li>
        </ul>
    </div>
</div>
