<div class="container">
    <div class="row">
        <div class="col-md-9">
            <%- partial('../partials/nodejs') %>
        </div>
        <div class="col-md-3">
            <%- partial('../partials/searchbox') %>
            <%- partial('../partials/noresult') %>
            <%- partial('../partials/buythebook') %>
            <%- partial('../partials/tags') %>
            <%- partial('../partials/about_this_site') %>
        </div>
    </div>
</div>