<div class="container">
    <div class="row">
        <form role="form" method="post" action="/security/login" class="form-horizontal form-login">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span>&nbsp;会員ログイン</div>
                <div class="panel-body">
                    <div class="form-group <%= form.emailmsg ? 'has-error':'' %>">
                        <label for="inputEmail" class="col-md-4 control-label">メールアドレス</label>
                        <div class="col-md-7">
                            <input id="inputEmail" name="email" type="email" placeholder="例：tanakatairo@osser.jp" value="<%- form.email %>" class="form-control">
                            <% if (form.emailmsg) { %>
                                <span class="help-block"><%- form.emailmsg %></span>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group <%= form.passwordmsg ? 'has-error':'' %>">
                        <label for="inputPassword" class="col-md-4 control-label">パスワード</label>
                        <div class="col-md-7">
                            <input id="inputPassword" name="password" type="password" placeholder="********" class="form-control">
                            <% if (form.passwordmsg) { %>
                                <span class="help-block"><%- form.passwordmsg %></span>
                            <% } %>
                        </div>
                    </div>
                    
                    <% if (form.recaptcha) { %>
                    <div class="form-group <%= form.recaptchamsg ? 'has-error': ''%>">
                        <label for="inputRecaptcha" class="col-md-4 control-label">認証コード</label>
                        <div class="col-md-7">
                            <%- partial('../partials/recaptcha') %>
                        </div>
                    </div>
                    <% } %>
                    
                    <%if(form.msg){%>
                    <div class="form-group has-error text-center">
                        <span class="help-block"><%- form.msg %></span>
                    </div>
                    <%}%>
                    <input type="hidden" name="back_url" value="<%= form.back_url %>" />
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input id="inputSpecailInput" name="specailInput" type="text" style="display:none" placeholder="例：田中太郎">
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span>&nbsp;ログイン</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="/security/recovery"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;パスワード再発行</a>
                &nbsp;
                <a href="/security/signup"><span class="glyphicon glyphicon-user"></span>&nbsp;アカウントを作成</a>
            </div>
        </form>
    </div>
</div>