<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Language" content="ja" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript; charset=UTF-8" />
    <title>
        <%- title %>-<%- gconfig.name %>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/lib/bootstrap-3-0-3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-3-0-3/css/bootstrap-theme.min.css" rel="stylesheet">

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/account.css">
    <!--STYLES END-->
</head>

<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    
                    <img class="" src="<%- gconfig.url.image.osser_logo %>" style="margin-right:5px;" />
                    <span class=""><%- gconfig.name %></span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right hdn-xs">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="navbar-brand dropdown-toggle">
                        <span class="glyphicon glyphicon-th" style="padding: 9px 0px;"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<%- gconfig.url.osser %>"><%= gconfig.name %></a>
                        <li>
                            <a href="<%- gconfig.url.nodejs %>">Node.jsコミュニティ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <%- body %>

    <div style="margin-top: 30px; margin-bottom: 0px;" class="navbar navbar-default navbar-static-bottom">
        <div class="container">
            <p style="margin:20px;color:gray;line-height:30px;" class="text-center bottom-navbar-text">
                <%- gconfig.name %> &copy; 2013-<%= new Date().getFullYear() %>
                <br/>
                バージョン：<%- gconfig.version %>
                <br/>
                本サイトはオープンソースシステムで、ソースコードを<a href="<%=gconfig.url.others.github_osser%>" target="_blank">GitHub</a>に公開しています。
                <br/>
                
            </p>
        </div>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <!--SCRIPTS END-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/lib/bootstrap-3-0-3/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-36130359-4', 'osser.jp');
  ga('send', 'pageview');
</script>    
</body>

</html>
